@import "./variable";

.chart {
  display: flex;
  height: 400px;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px 0px;

  .chart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--chart-item-height);
    width: 100px;
    color: white;
    background-color: $chart-item-color;
    animation: chart-animation 1s ease-in-out;

    &:hover {
      opacity: 95%;
      scale: 1.05;
    }
  }
}

// animation from 0% to the height of the chart-item itself
@keyframes chart-animation {
  0% {
    height: 0px;
  }
  100% {
    height: var(--chart-item-height);
  }
}
